<!-- login.component.html -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" placeholder="Enter your email" class="form-control" required>
      <div *ngIf="loginForm.get('email') && loginForm.get('email')!.invalid && loginForm.get('email')!.touched" class="error-message">
        Please enter a valid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password" class="form-control" required>
      <div *ngIf="loginForm.get('password') && loginForm.get('password')!.invalid && loginForm.get('password')!.touched" class="error-message">
        Please enter your password.
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary m-1 p-2">Login</button>

    <button class="btn btn-primary m-1 p-2" (click)="goToForgotPassword()">Forgot Password</button>
    
    <button class="btn btn-primary m-1 p-2" (click)="goToRegistration()">Register</button>
  </form>

  
  
